.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
text {
  pointer-events: none;
}

.node:hover {
  stroke: #fff5f0;
  stroke-opacity: .6;
  stroke-width: 4px;
}
.node:hover .link {
  stroke: #62ed54;
}
.node.active{
  stroke: #ffa44f;
  stroke-opacity: .6;
  stroke-width: 4px;
}
.node.active circle{
  fill: #ffa44f !important
}
.node.active .link{
  stroke: #ffa44f !important
}
.node.active-twice{
  stroke: #ff4e49;
  stroke-opacity: .6;
  stroke-width: 4px;
}
.node.active-twice circle{
  fill: #ff4e49 !important
}
.node.active-twice .link{
  stroke: #ff4e49 !important
}
.node.active-iii{
  stroke: #7871ff;
  stroke-opacity: .6;
  stroke-width: 4px;
}
.node.active-iii circle{
  fill: #7871ff !important
}
.node.active-iii .link{
  stroke: #7871ff !important
}
.link {
  stroke: #edc1b7;
  stroke-opacity: .6;
  z-index: 1;
}
.node, .rect, .circle {
  z-index: 10;
}
