<div id="mainContainer"></div>
<form ng-submit="submit()" class="inputContainer">
  <label for="leaf-length">leaf-length</label>
  <input ng-model="inputs.leafLength" type="number" step="0.01" id="leaf-length"/>

  <label for="leaf-width">leaf-width</label>
  <input ng-model="inputs.leafWidth" type="number" step="0.01" id="leaf-width"/>

  <label for="petal-length">petal-length</label>
  <input ng-model="inputs.petalLength" type="number" step="0.01" id="petal-length"/>

  <label for="petal-width">petal-width</label>
  <input ng-model="inputs.petalWidth" type="number" step="0.01" id="petal-width"/>

  <button>Check this flower!</button>

</form>
<span>{{answer}}</span>
